@{
    Layout = "~/Shared/_Layout.cshtml";
  
}
<!DOCTYPE html>
<html>
<body>
    <!--FIGHTER SELECT-->
    <table>
        <tr>
            <th colspan="2"><h2 style="-webkit-text-stroke: 1px black; font-weight:bold">Fighter Select</h2></th>
        </tr>
        <tr>
            <th colspan="2"><h2 style="-webkit-text-stroke: 1px black; font-weight:bold">Choose fighter</h2></th>
        </tr>
        <tr>
            <td><img src="images/goku.gif" /></td>
            <td><a href="~/opponentselect.cshtml?fighter=goku"><h1 style="color:white; -webkit-text-stroke: 1px black; font-weight:bold">Goku</h1></a></td>

            <td><img src="images/krillin.gif" /></td>
            <td><a href="~/opponentselect.cshtml?fighter=krillin"><h1 style="color:white; -webkit-text-stroke: 1px black; font-weight:bold">Krillin</h1></a></td>
            
            <td><img src="images/yamcha.jpg" /></td>
            <td><a href="~/opponentselect.cshtml?fighter=yamcha"><h1 style="color:white; -webkit-text-stroke: 1px black; font-weight:bold">Yamcha</h1></a></td>
        </tr>
        <tr>
            <td><img src="images/vegeta.gif" /></td>
            <td><a href="~/opponentselect.cshtml?fighter=vegeta"><h1 style="color:white; -webkit-text-stroke: 1px black; font-weight:bold">Vegeta</h1></a></td>

            <td><img src="images/trunks.gif" /></td>
            <td><a href="~/opponentselect.cshtml?fighter=trunks"><h1 style="color:white; -webkit-text-stroke: 1px black; font-weight:bold">Trunks</h1></a></td>

            <td><img src="images/18.gif" /></td>
            <td><a href="~/opponentselect.cshtml?fighter=18"><h1 style="color:white; -webkit-text-stroke: 1px black; font-weight:bold">Android 18</h1></a></td>
        </tr>
        <tr>
            <td><img src="images/gohan.gif" /></td>
            <td><a href="~/opponentselect.cshtml?fighter=gohan"><h1 style="color:white; -webkit-text-stroke: 1px black; font-weight:bold">Gohan</h1></a></td>

            <td><img src="images/frieza.gif" /></td>
            <td><a href="~/opponentselect.cshtml?fighter=frieza"><h1 style="color:white; -webkit-text-stroke: 1px black; font-weight:bold">Frieza</h1></a></td>

            <td><img src="images/buu.gif" /></td>
            <td><a href="~/opponentselect.cshtml?fighter=buu"><h1 style="color:white; -webkit-text-stroke: 1px black; font-weight:bold">Majin Buu</h1></a></td>
        </tr>
        <tr>
            <td><img src="images/piccolo.gif" /></td>
            <td><a href="~/opponentselect.cshtml?fighter=piccolo"><h1 style="color:white; -webkit-text-stroke: 1px black; font-weight:bold">Piccolo</h1></a></td>

            <td><img src="images/cell.gif" /></td>
            <td><a href="~/opponentselect.cshtml?fighter=cell"><h1 style="color:white; -webkit-text-stroke: 1px black; font-weight:bold">Cell</h1></a></td>

            <td><img src="images/satan.gif" /></td>
            <td><a href="~/opponentselect.cshtml?fighter=satan"><h1 style="color:white; -webkit-text-stroke: 1px black; font-weight:bold">Mr. Satan</h1></a></td>
        </tr>
    </table>
    <br />
</body>
</html>