
header, section, footer, aside, nav, article, figure, figcaption {
    display: block;
}

body {
    color: #ffffff;
    background-image: url("images/back.png");
    background-repeat:repeat-x repeat-y;
    background-position: center;
    font-family: Georgia, Times, serif;
    line-height: 1.4em;
    margin: 0px;
}


header {
    height: 160px;
    background-image: url("images/header.jpg");
    color: white;
        -webkit-text-stroke: 1px white;
    background-repeat:repeat-x;
}

h1 {
    width: 400px;
    height: 130px;
    margin: 0px;
    color: white;
    
}
a{
    width: 500px;
    height: 130px;
    margin: 0px;
    color: white;
}

nav, footer {
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    height: 30px;
}

    nav ul {
        margin: 0px;
        padding: 5px 0px 5px 30px;
    }

    nav li {
        display: inline;
        margin-right: 40px;
    }

        nav li a {
            color: #ffffff;
        }

            nav li a:hover, nav li a.current {
                color: #000000;
            }




footer {
    font-size: 80%;
    padding: 7px 0px 0px 20px;
}

table {
    padding: 30px 80px 10px 80px;
    color: white;
    -webkit-text-stroke: 1px black;
    margin-left: auto;
    margin-right: auto;
}

form {
    padding: 30px 80px 10px 80px;
}


